In [44]:
import pandas as pd
import numpy as np
import re
import itertools

In [45]:
data = pd.read_csv('../../data/wiki_movie_plots_deduped.csv')

In [46]:
data.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [47]:
data.shape

(34886, 8)

In [48]:
data.iloc[100]['Wiki Page']

'https://en.wikipedia.org/wiki/Should_a_Woman_Divorce%3F'

In [49]:
data.iloc[100]['Title']

'Should a Woman Divorce?'

In [50]:
data['Genre'].unique()

array(['unknown', 'western', 'comedy', ...,
       'adventure, romance, fantasy film', 'ero',
       'horror romantic comedy'], dtype=object)

In [51]:
data['Genre'].value_counts()

unknown                          6083
drama                            5964
comedy                           4379
horror                           1167
action                           1098
                                 ...
cbc-tv miniseries                   1
bio-drama                           1
national film board docudrama       1
cult drama                          1
horror romantic comedy              1
Name: Genre, Length: 2265, dtype: int64

In [52]:
data[data['Genre'].str.contains('action',case=False)].count()

Release Year        2450
Title               2450
Origin/Ethnicity    2450
Director            2450
Cast                2419
Genre               2450
Wiki Page           2450
Plot                2450
dtype: int64

In [53]:
len(data[data['Genre'] == 'tokusatsu, action, sci-fi'])

5

In [54]:
basic_genre = pd.read_excel("../../data/wiki_movie_plots_deduped_basic_genre.xlsx",sheet_name='basic_genre_list')

In [55]:
genre_list = basic_genre['basic - genre'].str.rstrip().str.lstrip().str.lower()
genre_list

0              action/gangster
1                       comedy
2       sci-fi/science fiction
3        romance/love/romantic
4                    adventure
                ...
64    post-apocalyptic, zombie
65                   espionage
66              counterculture
67             socio-political
68                     tragedy
Name: basic - genre, Length: 69, dtype: object

In [56]:
new_genre_list = list(set(itertools.chain.from_iterable(genre_list.str.split('/').tolist()))) #.values.ravel()
new_genre_list = [i.rstrip().lstrip() for i in new_genre_list]

In [57]:
print(new_genre_list)

['bio-drama', 'family', 'american football', 'social', 'spy', 'sexploitation', 'fantasy', 'musical', 'shakespearean', 'anthology', 'survival', 'reality', 'biographical', 'comedy', 'road', 'fighting', 'neo-noir', 'crime', 'drama', 'suspense', 'film noir', 'patriotic', 'sword', 'tragedy', 'superhero', 'period film', 'historical', 'buddy cop, supernatural', 'serial', 'entertainer', 'fantay', 'slahser', 'detective', 'adult', 'costume', 'samurai', 'art', 'romance', 'disaster', 'cartoon', 'love', 'adaptation', 'romantic', 'mythology', 'muslim social', 'teen', 'concert', 'bio-pic', 'spoof', 'animated', 'horror', 'socio-political', 'espionage', 'mockumentary', 'parody', 'action', 'counterculture', 'epic', 'slapstick', 'biopic', 'martial-arts', 'music', 'short', 'independent', 'sci-fi', 'travel', 'gangster', 'children', 'buddy cop', 'satire', 'sports', 'western', 'anime', 'nature documentary', 'rom com', 'animation', 'ancient-costume', 'semi-staged documentary', 'dramedy', 'war', 'miniseries', 'mystery', 'period', "children's", 'historic', 'religious', 'classic muslim social', 'biography', 'thriller', 'adventure', 'devotional', 'documentary', 'history', 'compilation', 'swashbuckler', 'science fiction', 'martial arts', 'outlaw biker film', 'dance', 'educational', 'post-apocalyptic, zombie', 'kung fu', 'exploitation']

In [58]:
genre_mhe = data[['Genre','Title','Plot']]
genre_mhe

,Genre,Title,Plot
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr..."
1,unknown,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov..."
2,unknown,The Martyred Presidents,"The film, just over a minute long, is composed..."
3,unknown,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...
4,unknown,Jack and the Beanstalk,The earliest known adaptation of the classic f...
...,...,...,...
34881,unknown,The Water Diviner,"The film begins in 1919, just after World War ..."
34882,comedy,Çalgı Çengi İkimiz,"Two musicians, Salih and Gürkan, described the..."
34883,comedy,Olanlar Oldu,"Zafer, a sailor living with his mother Döndü i..."
34884,romantic comedy,Non-Transferable,The film centres around a young woman named Am...
34885,romantic,İstanbul Kırmızısı,The writer Orhan Şahin returns to İstanbul aft...

In [59]:
for genre in new_genre_list:
    ind = genre_mhe[genre_mhe['Genre'].str.contains(genre,case = False)].index
    genre_mhe.loc[ind,genre] = 1

C:\Users\varsh\AppData\Local\Temp\ipykernel_25996\1287742737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_mhe.loc[ind,genre] = 1
C:\Users\varsh\AppData\Local\Temp\ipykernel_25996\1287742737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_mhe.loc[ind,genre] = 1
C:\Users\varsh\AppData\Local\Temp\ipykernel_25996\1287742737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_mhe.loc[ind,genre] = 1
C:\Users\varsh\AppData\Local\Temp\ipykernel_25996\1287742737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_mhe.loc[ind,genre] = 1

In [60]:
genre_mhe.columns

Index(['Genre', 'Title', 'Plot', 'bio-drama', 'family', 'american football',
       'social', 'spy', 'sexploitation', 'fantasy',
       ...
       'compilation', 'swashbuckler', 'science fiction', 'martial arts',
       'outlaw biker film', 'dance', 'educational', 'post-apocalyptic, zombie',
       'kung fu', 'exploitation'],
      dtype='object', length=106)

In [61]:
len(genre_mhe) - genre_mhe['devotional'].isna().sum()

19

In [62]:
nan_ind = genre_mhe[genre_mhe.drop(['Genre','Title','Plot'],axis = 1).isna().all(axis = 1)].index
nan_ind

Int64Index([    0,     1,     2,     3,     4,     5,     8,     9,    25,
               27,
            ...
            34823, 34826, 34827, 34828, 34830, 34836, 34878, 34879, 34880,
            34881],
           dtype='int64', length=6450)

In [63]:
genre_mhe.loc[nan_ind]

,Genre,Title,Plot,bio-drama,family,american football,social,spy,sexploitation,fantasy,...,compilation,swashbuckler,science fiction,martial arts,outlaw biker film,dance,educational,"post-apocalyptic, zombie",kung fu,exploitation
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unknown,The Martyred Presidents,"The film, just over a minute long, is composed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unknown,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,Jack and the Beanstalk,The earliest known adaptation of the classic f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34836,unknown,Orada,When the matriarch of an Istanbul family dies ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34878,unknown,Mandıra Filozofu,Cavit an ambitious industralist in İstanbul pl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34879,unknown,Winter Sleep,"Aydın, a former actor, owns a mountaintop hote...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34880,unknown,Sivas,The film follows an eleven-year-old boy named ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34881,unknown,The Water Diviner,"The film begins in 1919, just after World War ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
subset_genre_mhe = genre_mhe.loc[nan_ind]
for genre in new_genre_list:
    ind = subset_genre_mhe[subset_genre_mhe['Title'].str.contains(genre,case = False)].index
    genre_mhe.loc[ind,genre] = 1

In [65]:
genre_mhe

,Genre,Title,Plot,bio-drama,family,american football,social,spy,sexploitation,fantasy,...,compilation,swashbuckler,science fiction,martial arts,outlaw biker film,dance,educational,"post-apocalyptic, zombie",kung fu,exploitation
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unknown,The Martyred Presidents,"The film, just over a minute long, is composed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unknown,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,Jack and the Beanstalk,The earliest known adaptation of the classic f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34881,unknown,The Water Diviner,"The film begins in 1919, just after World War ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34882,comedy,Çalgı Çengi İkimiz,"Two musicians, Salih and Gürkan, described the...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34883,comedy,Olanlar Oldu,"Zafer, a sailor living with his mother Döndü i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34884,romantic comedy,Non-Transferable,The film centres around a young woman named Am...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34885,romantic,İstanbul Kırmızısı,The writer Orhan Şahin returns to İstanbul aft...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
len(genre_mhe) - genre_mhe['devotional'].isna().sum()

19

In [67]:
nan_ind = genre_mhe[genre_mhe.drop(['Genre','Title','Plot'],axis = 1).isna().all(axis = 1)].index
nan_ind

Int64Index([    0,     3,     4,     5,     8,     9,    25,    27,    28,
               34,
            ...
            34823, 34826, 34827, 34828, 34830, 34836, 34878, 34879, 34880,
            34881],
           dtype='int64', length=6110)

In [68]:
subset_genre_mhe = genre_mhe.loc[nan_ind]
for genre in new_genre_list:
    ind = subset_genre_mhe[subset_genre_mhe['Plot'].str.contains(genre,case = False)].index
    genre_mhe.loc[ind,genre] = 1

In [69]:
genre_mhe

,Genre,Title,Plot,bio-drama,family,american football,social,spy,sexploitation,fantasy,...,compilation,swashbuckler,science fiction,martial arts,outlaw biker film,dance,educational,"post-apocalyptic, zombie",kung fu,exploitation
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unknown,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unknown,The Martyred Presidents,"The film, just over a minute long, is composed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unknown,"Terrible Teddy, the Grizzly King",Lasting just 61 seconds and consisting of two ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unknown,Jack and the Beanstalk,The earliest known adaptation of the classic f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34881,unknown,The Water Diviner,"The film begins in 1919, just after World War ...",NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34882,comedy,Çalgı Çengi İkimiz,"Two musicians, Salih and Gürkan, described the...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34883,comedy,Olanlar Oldu,"Zafer, a sailor living with his mother Döndü i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34884,romantic comedy,Non-Transferable,The film centres around a young woman named Am...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34885,romantic,İstanbul Kırmızısı,The writer Orhan Şahin returns to İstanbul aft...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
len(genre_mhe) - genre_mhe['devotional'].isna().sum()

19

In [71]:
#genre_mhe[genre_mhe.drop(['Genre','Title','Plot'],axis = 1).isna().all(axis = 1)]

In [72]:
#genre_mhe[['historic','period film','historic','period','sword']]

In [73]:
#genre_mhe.drop(genre_mhe[genre_mhe.drop(['Genre','Title','Plot'],axis = 1).isna().all(axis = 1)].index)

In [74]:
genre_mhe.head(1)

,Genre,Title,Plot,bio-drama,family,american football,social,spy,sexploitation,fantasy,...,compilation,swashbuckler,science fiction,martial arts,outlaw biker film,dance,educational,"post-apocalyptic, zombie",kung fu,exploitation
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
len(genre_mhe) - genre_mhe['devotional'].isna().sum()

19

In [86]:
len(genre_mhe) - genre_mhe['religious'].isna().sum()

70

In [87]:
len(genre_mhe) - genre_mhe['mythology'].isna().sum()

31

In [88]:
len(genre_mhe) - genre_mhe['muslim social'].isna().sum()

3

In [89]:
len(genre_mhe) - genre_mhe['classic muslim social'].isna().sum()

1

In [90]:
19+70+31+3+1

124

In [159]:
genre_mhe['martial arts'].sum()

171.0

In [161]:
genre_mhe['kung fu'].sum()

52.0

In [ ]:
['martial arts', 'martial-arts', 'kung fu']

In [160]:
len(genre_mhe) - genre_mhe['martial-arts'].isna().sum()

4

In [76]:
# l = 'history/ historical/  period film/historic/period/sword'.split('/')
# k = []
# for i in l:
#     k.append(i.rstrip().lstrip())
# k

# m = [ i.rstrip().lstrip() for i in l ]
# m

In [114]:
raw_basic_genre = {}
for val in basic_genre['basic - genre']:
    temp = [i.rstrip().lstrip() for i in val.split('/')]
    if len(temp) > 1:
        raw_basic_genre[temp[0]] = temp[1:]
print(raw_basic_genre)

{'action': ['gangster'], 'sci-fi': ['science fiction'], 'romance': ['love', 'romantic'], 'kung fu': ['martial arts', 'martial-arts'], 'history': ['historical', 'period film', 'historic', 'period', 'sword'], 'fantasy': ['fantay'], 'biography': ['bio-pic', 'biopic', 'bio-drama', 'biographical'], 'costume': ['ancient-costume'], 'spy': ['detective'], 'children': ["children's"], 'musical': ['music', 'concert'], 'sports': ['american football'], 'animated': ['animation'], 'patriotic': ['independent'], 'devotional': ['mythology', 'religious', 'muslim social', 'classic muslim social'], 'documentary': ['semi-staged documentary', 'mockumentary', 'nature documentary'], 'film noir': ['neo-noir'], 'exploitation': ['sexploitation'], 'buddy cop': ['buddy cop, supernatural']}

In [100]:
genre_mhe_test = genre_mhe.fillna(0)

In [101]:
genre_mhe_test['gangster']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
34881    0.0
34882    0.0
34883    0.0
34884    0.0
34885    0.0
Name: gangster, Length: 34886, dtype: float64

In [108]:
genre_mhe_test['devotional']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
34881    0.0
34882    0.0
34883    0.0
34884    0.0
34885    0.0
Name: devotional, Length: 34886, dtype: float64

In [99]:
genre_mhe['gangster']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
34881   NaN
34882   NaN
34883   NaN
34884   NaN
34885   NaN
Name: gangster, Length: 34886, dtype: float64

In [138]:
random_df = pd.DataFrame({'h':[1,0,1,1],
            'a':[0,1,0,1],
             'b':[0,0,1,1]})
random_df

   h  a  b
0  1  0  0
1  0  1  0
2  1  0  1
3  1  1  1

In [139]:
random_df['b'] = random_df.sum(axis = 1)
random_df

   h  a  b
0  1  0  1
1  0  1  1
2  1  0  2
3  1  1  3

In [ ]:
['a','b','c']
l.append('d')

In [130]:
raw_basic_genre

{'action': ['gangster'],
 'sci-fi': ['science fiction'],
 'romance': ['love', 'romantic'],
 'kung fu': ['martial arts', 'martial-arts'],
 'history': ['historical', 'period film', 'historic', 'period', 'sword'],
 'fantasy': ['fantay'],
 'biography': ['bio-pic', 'biopic', 'bio-drama', 'biographical'],
 'costume': ['ancient-costume'],
 'spy': ['detective'],
 'children': ["children's"],
 'musical': ['music', 'concert'],
 'sports': ['american football'],
 'animated': ['animation'],
 'patriotic': ['independent'],
 'devotional': ['mythology',
  'religious',
  'muslim social',
  'classic muslim social'],
 'documentary': ['semi-staged documentary',
  'mockumentary',
  'nature documentary'],
 'film noir': ['neo-noir'],
 'exploitation': ['sexploitation'],
 'buddy cop': ['buddy cop, supernatural']}

In [144]:
def col_merge(df_genre):
    df = df_genre.copy()
    for key,lst in raw_basic_genre.items():
        lst_copy = lst + [key]
        print(lst_copy)
#         display(df[lst_copy])
        df[key] = df[lst_copy].sum(axis = 1)
#         display(df[lst_copy].sum(axis = 1))
        df = df.drop(columns = lst)
    return df

In [145]:
result = col_merge(genre_mhe_test)
result.head(2)

['gangster', 'action']
['science fiction', 'sci-fi']
['love', 'romantic', 'romance']
['martial arts', 'martial-arts', 'kung fu']
['historical', 'period film', 'historic', 'period', 'sword', 'history']
['fantay', 'fantasy']
['bio-pic', 'biopic', 'bio-drama', 'biographical', 'biography']
['ancient-costume', 'costume']
['detective', 'spy']
["children's", 'children']
['music', 'concert', 'musical']
['american football', 'sports']
['animation', 'animated']
['independent', 'patriotic']
['mythology', 'religious', 'muslim social', 'classic muslim social', 'devotional']
['semi-staged documentary', 'mockumentary', 'nature documentary', 'documentary']
['neo-noir', 'film noir']
['sexploitation', 'exploitation']
['buddy cop, supernatural', 'buddy cop']

,Genre,Title,Plot,family,social,spy,fantasy,musical,shakespearean,anthology,...,documentary,history,compilation,swashbuckler,outlaw biker film,dance,educational,"post-apocalyptic, zombie",kung fu,exploitation
0,unknown,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unknown,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [146]:
result['devotional'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 34886 entries, 0 to 34885
Series name: devotional
Non-Null Count  Dtype
--------------  -----
34886 non-null  float64
dtypes: float64(1)
memory usage: 272.7 KB

In [162]:
result['kung fu'].sum()

227.0

In [155]:
genre_mhe.iloc[32100].dropna()

Genre                                                devotional
Title                                            Sri Manjunatha
Plot          Manjunatha (Arjun Sarja) is an atheist, but a ...
devotional                                                  1.0
Name: 32100, dtype: object

In [156]:
genre_mhe.iloc[24572].dropna()

Genre                                                classic muslim social
Title                                                         Mere Mehboob
Plot                     While studying in Aligarh Muslim University, A...
social                                                                 1.0
muslim social                                                          1.0
classic muslim social                                                  1.0
Name: 24572, dtype: object

In [148]:
len(result) - len(result[result['devotional'] == 0])

132

In [153]:
result['devotional'].sort_values(ascending=False).head(25)

24572    2.0
32100    1.0
31758    1.0
31731    1.0
31732    1.0
28191    1.0
27101    1.0
25784    1.0
21102    1.0
33092    1.0
31756    1.0
26312    1.0
34734    1.0
21999    1.0
24346    1.0
34687    1.0
27919    1.0
24819    1.0
26332    1.0
26561    1.0
31780    1.0
32438    1.0
29254    1.0
24385    1.0
29309    1.0
Name: devotional, dtype: float64

In [136]:
len(result.columns)

72

#### Label/Tags EDA

In [ ]:
len(genre_mhe) - len(genre_mhe[genre_mhe['road'].isna()])

In [ ]:
for col in genre_mhe.columns:
    print(col , len(genre_mhe) - len(genre_mhe[genre_mhe[col].isna()]))

In [ ]:
def replace_genre(row):
    
    for key,val in raw_basic_genre.items():
        print(row,' v ',val)
        if row != None and row in val:
            print("yes")
            row = key
            
    return row

In [ ]:
data['Genre'].iloc[[3532,15220]].apply(replace_genre)

In [ ]:
new_data = data['Genre'].apply(replace_genre)

In [ ]:
new_data[new_data.str.contains('bio-pic')]

In [ ]:
clean_basic_genre = '|'.join(basic_genre['basic - genre'].str.rstrip().str.lstrip())

In [ ]:
clean_basic_genre

In [ ]:
#data[~data['Genre'].str.contains(clean_basic_genre,case=False)]['Genre'].to_csv('remain_col.csv',index = False)

In [ ]:
#reverse_dict

In [ ]:
# reverse_dict = {}
# for lst1_key,lst1_val in raw_basic_genre.items():
#     for value in lst1_val:
#         reverse_dict[value] = lst1_key